*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --dark-blue: #4682a9;
  --blue: #749bc2;
  --light-blue: #91c8e4;
  --white: #f6f4eb;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  display: grid;
  font-family: "Roboto", sans-serif;
  grid:
    "header header header header" auto
    "main main main main" 1fr
    "footer footer footer footer" auto /
    1fr 1fr 1fr 1fr;
}

#header,
#footer {
  background-color: var(--blue);
}

#header {
  grid-area: header;
  font-family: "Ysabeau SC", sans-serif;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 20px;
}

#main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background: url(./images/sunny.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.player-grid,
.computer-grid {
  min-width: 400px;
  min-height: 400px;
  outline: 3px solid black;
  display: flex;
  flex-direction: column;
  position: relative;
  isolation: isolate;
}

.player-grid::after,
.computer-grid::after {
  content: "";
  background-color: var(--light-blue);
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.8;
}

.grid-row {
  flex: 1;
  display: flex;
}

.grid-col {
  border: 1px solid var(--white);
  flex: 1;
  transition: background-color 100ms ease-in-out;
}

.computer-grid .grid-col:hover {
  cursor: pointer;
  background-color: var(--blue);
}

.hit-ship {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100 ' stroke='red' stroke-width='5'/><path d='M0 0 L100 100 ' stroke='red' stroke-width='5'/></svg>");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%, auto;
  border: 1px solid red;
}

.hit-miss {
  background: url(./images/ocean.png);
}

#footer {
  grid-area: footer;
  text-align: center;
  font-weight: 700;
}

#footer a {
  text-decoration: none;
  color: var(--white);
}
