*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --dark-blue: #4682a9;
  --blue: #749bc2;
  --light-blue: #91c8e4;
  --white: #f6f4eb;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  display: grid;
  font-family: "Roboto", sans-serif;
  grid:
    "header header header header" auto
    "main main main main" 1fr
    "footer footer footer footer" auto /
    1fr 1fr 1fr 1fr;
}

#header,
#footer {
  background-color: var(--blue);
}

#header {
  grid-area: header;
  font-family: "Ysabeau SC", sans-serif;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 20px;
}

#main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.player-grid,
.computer-grid {
  min-width: 400px;
  min-height: 400px;
  outline: 3px solid black;
  display: flex;
  flex-direction: column;
}

.grid-row {
  /* border: 1px solid black; */
  flex: 1;
  display: flex;
}

.grid-col {
  border: 1px solid var(--light-blue);
  flex: 1;
  transition: background-color 200ms ease-in-out;
}

.grid-col:hover {
  cursor: pointer;
  background-color: var(--blue);
}

#footer {
  grid-area: footer;
  text-align: center;
  font-weight: 700;
}

#footer a {
  text-decoration: none;
  color: var(--white);
}
